.form-control{
    background-color: white;
}

.btn-outline-success{
    color: white;
    border-color: white;
}

.title-catalogo{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.fa-pen{
    border: 1px solid lightslategray;
    color: lightslategray;
    padding: 5px;
    border-radius: 5px;
}

.fa-trash{
    border: 1px solid lightslategray;
    color: lightslategray;
    padding: 5px;
    border-radius: 5px;
}