.form-control{
    background-color: white;
}

.btn-outline-success{
    color: white;
    border-color: white;
}

.title-catalogo{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}